<br>
<div class="container">
    <div class="card">
        <div class="card-header">
            <h3>Citas</h3>
        </div>
        <div class="card-body">
            <table datatable class="cell-border">
                <thead>
                    <tr>
                        <th>ID Citacion</th>
                        <th>Estado</th>
                        <th>Fecha Citacion</th>
                        <th>Hora inicio Citacion</th>   <!-- AQUI VA LOS HEADERS DE LA TABLA --> 
                        <th>Hora fin Citacion</th>
                        <th>Fecha Creacion Citacion</th>
                        <th>Nombre del Asesor</th>
                        <th>Nombre del Cliente</th> 
                        <!-- <th>ACCIONES</th>       -->   
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let citation of citations" class="text-center">
                        <td>{{citation.citationid}}</td>
                        <td>{{citation.status}}</td>
                        <td>{{citation.citation_date | date}}</td>
                        <td>{{citation.begin_citationtime}}:00</td>
                        <td>{{citation.end_citationtime}}:00</td>
                        <td>{{citation.creation_date | date}}</td>
                        <td>{{citation.asesorid.fullname}}</td>
                        <td>{{citation.clientid.name }} {{citation.clientid.lastname}}</td>               
     <!--                   <td>

                            <button type="button" class="btn btn-warning">Editar</button>    
                            <br>    
                            <br>
                            <button class="btn btn-danger">Eliminar</button>                    
                        </td>      -->              
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
